# Standard Input Output Functions

In [ ]:
x = input("Enter your input: ")

Enter your input: 2

In [ ]:
x

'2'

In [ ]:
age = int(input("Enter your age: "))
print(type(age))

Enter your age: 2
<class 'int'>

# Print formatting

In [ ]:
a = 10
b = 20
print(a, b)
print("a contains", a, "and",  "b contains", b)

10 20
a contains 10 and b contains 20

# Place Holder Passing

In [ ]:
print("a contains {}".format(a))
print("a contains {} and b contains {}".format(a, b))
print("a contains {1} and b contains {0}".format(b, a))

a contains 10
a contains 10 and b contains 20
a contains 10 and b contains 20

In [ ]:
print("Hello\n"*5)

Hello
Hello
Hello
Hello
Hello

In [ ]:
name = input("Enter your name:")
n = int(input("Enter iterations: "))
print("Welcome {}\n".format(name)*n)

Enter your name:sajil
Enter iterations: 3
Welcome sajil
Welcome sajil
Welcome sajil

# Line Breaking

In [ ]:
amount = 10
interest = 0.7
years = 30
total = amount+\
 (amount*interest)*years
print("the total payable is ",total)

the total payable is  220.0

# Multiline Assignment

In [ ]:
# a = 10
# b = 20
# c = 30

a,b,c = 10,20,30
print(a,b,c)

10 20 30

# Type Conversion and Casting

In [ ]:
# Integer to String
a = 5
b = str(a)
print(b, type(b))

# String to Integer
a = "5"
b = int(a)
print(b, type(b))

# Integer to float
a = 5
b = float(a)
print(b, type(b))

5 <class 'str'>
5 <class 'int'>
5.0 <class 'float'>

# String Indexing and Slicing

In [ ]:
message = "Welcome"
# print(message[0])

# comeWel
print(message[3:]+message[:3])

#emocleW
#elcom
#melcoW

comeWel

# String Splitting

In [ ]:
"Hello Welcome".split(" ")

['Hello', 'Welcome']

In [ ]:
paragraph = "First sentence. Second Sentence"
print(paragraph.split("."))
print(paragraph.split(". "))

['First sentence', ' Second Sentence']
['First sentence', 'Second Sentence']

# String Join

In [ ]:
domain = ["Data", "Science"]
"-".join(domain)

'Data-Science'