## A. Basics of Data Types

### Question 1
Print the type of the number 25.

In [ ]:
# Your code here

### Question 2
Print the type of "hello" and 25.5.

In [ ]:
# Your code here

### Question 10
What is the output of print(type(5+5.0))?

In [ ]:
# Your code here

### Question 11
Print the result of str(5) + " apples".

In [ ]:
# Your code here

### Question 12
Use print() to display a string that includes both single and double quotes.

In [ ]:
# Your code here

### Question 13
Use len() to print the length of "Python Rocks!".

In [ ]:
# Your code here

### Question 18
Create a set of duplicate elements and print it.

In [ ]:
# Your code here

## B. Arithmetic Operators

### Question 22
Add, subtract, multiply, and divide 15 and 4, and print all results.

In [ ]:
# Your code here

### Question 23
Find the floor division of 15 by 4.

In [ ]:
# Your code here

### Question 24
Use modulo to find the remainder when 17 is divided by 5.

In [ ]:
# Your code here

### Question 25
Raise 3 to the power of 4 and print.

In [ ]:
# Your code here

### Question 26
Evaluate 10 + 2 * 5 and explain the output.

In [ ]:
# Your code here

### Question 27
Print result of (10 + 2) * 5.

In [ ]:
# Your code here

### Question 28
Use print() to show the result of 7 % 3 == 1.

In [ ]:
# Your code here

### Question 29
Store the result of 3 ** 2 + 1 in a variable and print its type.

In [ ]:
# Your code here

### Question 30
Use print() to check if 8 // 3 equals 2.

In [ ]:
# Your code here

### Question 32
Check the type of the result of 10 / 2.

In [ ]:
# Your code here

### Question 33
Check the type of 10 // 2.

In [ ]:
# Your code here

### Question 34
Use print to show how float division and integer division differ for 9 / 2 and 9 // 2.

In [ ]:
# Your code here

### Question 35
Evaluate and print 2 + 3 * 4 / 2 - 1.

In [ ]:
# Your code here

## C. Comparison Operators

### Question 37
Print the result of 5 > 3.

In [ ]:
# Your code here

### Question 38
Check if 5 == 5.0 and explain the result.

In [ ]:
# Your code here

### Question 39
Compare "apple" with "banana" using <.

In [ ]:
# Your code here

### Question 40
Use print() to show if len("car") == 3.

In [ ]:
# Your code here

### Question 41
Check if "Python" != "python" and print result.

In [ ]:
# Your code here

### Question 42
Store two numbers and check which one is greater using >.

In [ ]:
# Your code here

### Question 43
Compare two lists using == and !=.

In [ ]:
# Your code here

### Question 44
Compare the type of "10" with 10.

In [ ]:
# Your code here

### Question 45
Check if None == False.

In [ ]:
# Your code here

### Question 46
Use print() to show whether 10 >= 10.

In [ ]:
# Your code here

### Question 47
Compare a float and int: print(10.0 == 10).

In [ ]:
# Your code here

### Question 48
Use len() to compare lengths of two different strings.

In [ ]:
# Your code here

### Question 50
Use print() to show whether 4*2 != 10 - 2.

In [ ]:
# Your code here

### Question 51
Use chained comparisons: print(1 < 3 < 5).

In [ ]:
# Your code here

## D. Logical Operators

### Question 53
Evaluate and print True and False.

In [ ]:
# Your code here

### Question 54
Evaluate and print False or True.

In [ ]:
# Your code here

### Question 55
Use not on a boolean value and print.

In [ ]:
# Your code here

### Question 56
Combine two conditions using and.

In [ ]:
# Your code here

### Question 57
Combine two conditions using or.

In [ ]:
# Your code here

### Question 58
Print the result of True and not False.

In [ ]:
# Your code here

### Question 59
Use logical operators to check if a number is between 10 and 20.

In [ ]:
# Your code here

### Question 60
Use len() to check if a list is non-empty.

In [ ]:
# Your code here

### Question 61
Create a condition using and and or together.

In [ ]:
# Your code here

### Question 62
Check if either of two strings is equal to "admin".

In [ ]:
# Your code here

### Question 63
Use not with a comparison: not (5 > 3).

In [ ]:
# Your code here

### Question 64
Combine string length comparisons using logical operators.

In [ ]:
# Your code here

### Question 65
Use print() to show result of not (True and False).

In [ ]:
# Your code here

### Question 66
Check if a variable is not None using is not.

In [ ]:
# Your code here

### Question 67
Combine multiple comparisons using parentheses and logical operators.

In [ ]:
# Your code here

## E. Strings and len() Practice

### Question 68
Print the length of "The quick brown fox".

In [ ]:
# Your code here

### Question 69
Get the length of "1234567890" and check if it's even.

In [ ]:
# Your code here

### Question 70
Use string concatenation to create a greeting.

In [ ]:
# Your code here

### Question 71
Concatenate string and number after converting number to string.

In [ ]:
# Your code here

### Question 72
Find and print the number of characters in "    trimmed    " after stripping.

In [ ]:
# Your code here

### Question 73
Use print() to format string using f-strings.

In [ ]:
# Your code here

### Question 74
Use len() to count characters in str(100**10).

In [ ]:
# Your code here

### Question 75
Print "hello" repeated 3 times.

In [ ]:
# Your code here

### Question 76
Print the first and last character of a string using indexing.

In [ ]:
# Your code here

### Question 77
Slice a string to print only the first 3 characters.

In [ ]:
# Your code here

### Question 78
Combine two strings using + and print the result.

In [ ]:
# Your code here

### Question 79
Use print() to show string multiplication: "a"*5.

In [ ]:
# Your code here

### Question 80
Use len() to check if a password is more than 8 characters.

In [ ]:
# Your code here

### Question 81
Print result of "abc" == "ABC".lower().

In [ ]:
# Your code here

### Question 82
Use string methods like .upper() and .isnumeric() and print their results.

In [ ]:
# Your code here

## F. Mixed Practice and Mini Challenges

### Question 84
Take a list of 5 numbers and print their average.

In [ ]:
# Your code here

### Question 85
Take two strings and check if they are the same after converting both to lowercase.

In [ ]:
# Your code here

### Question 86
Use len() to check the number of digits in a given integer by converting to string.

In [ ]:
# Your code here

### Question 87
Create a tuple of strings and print total characters in all strings.

In [ ]:
# Your code here

### Question 90
Take a list of booleans and print how many are True.

In [ ]:
# Your code here

### Question 93
Check if length of a string is a multiple of 3.

In [ ]:
# Your code here

### Question 95
Create a dictionary and print whether a key exists.

In [ ]:
# Your code here

### Question 96
Use a string, check if it contains "@" and "." (email format).

In [ ]:
# Your code here

### Question 97
Print the result of len([]) and len(()).

In [ ]:
# Your code here

### Question 99
Check whether the type of len("hello") is int.

In [ ]:
# Your code here